<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.foodApp.restaurant.RestaurantController.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.foodApp.restaurant.RestaurantController.Register</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddFood</display-name>
    <servlet-name>AddFood</servlet-name>
    <servlet-class>com.foodApp.restaurant.foodController.AddFood</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FoodSuggestions</display-name>
    <servlet-name>FoodSuggestions</servlet-name>
    <servlet-class>com.foodApp.restaurant.foodController.FoodSuggestions</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.foodApp.restaurant.foodController.UpdateController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CustomerRegister</display-name>
    <servlet-name>CustomerRegister</servlet-name>
    <servlet-class>com.foodApp.restaurant.customerController.CustomerRegister</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.foodApp.restaurant.customerController.CustomerLogin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.foodApp.restaurant.customerController.AddToCartController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemController</display-name>
    <servlet-name>DeleteCartItemController</servlet-name>
    <servlet-class>com.foodApp.restaurant.customerController.DeleteCartItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/restaurant/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/restaurant/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFood</servlet-name>
    <url-pattern>/AddFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodSuggestions</servlet-name>
    <url-pattern>/FoodSuggestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerRegister</servlet-name>
    <url-pattern>/CustomerRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartItemController</servlet-name>
    <url-pattern>/DeleteCartItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.foodApp.restaurant.RestaurantController.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
</web-app>